.drag::after {
    display: flex;
    content: 'Arraste algo para cรก';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.9);
    color: #0984e3;
    font-size: 34px;
    align-items: center;
    justify-content: center;
    border: 5px dashed #0984e3;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
}

.in-drag::after {
    opacity: 1;
}
