#main {
    .files {
        display: grid;
        grid-template-columns: auto auto auto auto;

        .file {
            padding: 10px;

            .fa {
                font-size: 36px;
            }
        }
    }
}
