.modal {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all .5s ease-out;

    .modal-box {
        position: absolute;
        width: 100%;
        max-width: 600px;
        top: 20px;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, 0);
        padding: 20px;
        border-radius: 4px;
    }

    h1 {
        font-size: 30px;
    }

    h1, p {
        padding-bottom: 20px;
    }

    .btn {
        padding: 10px;
        color: #fff;
        background: #0984e3;
        display: block;
    }

    &.open {
        opacity: 1;
        top: 0;
    }
}
