html, body, #app, #wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrapper {
    display: flex;
    flex-direction: column;

    #main {
        flex: 1;
        overflow: auto;
    }
}
