<main id="main">
    <section class="files">

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-folder-open"></i></a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <!-- arquivos -->

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

        <div class="file">
            <a href=""><i class="fa fa-file"></i></a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

    </section>
</main>
