<div id="sidebar">
    <h3>Detalhes da conta</h3>
    <p>Total de espaço: 1GB</p>

    <div class="progress">
        <div class="bar">80% usado</div>
        <div class="bar blue">20% livre</div>
    </div>

    <form action="">
        <legend>Compartilhar drive</legend>
        <input type="email" placeholder="Email..."><input type="submit" value=">" class="btn">
    </form>

    <p>Compartilhados</p>

    <ul>
        <li>Nenhum</li>
    </ul>

    <a href="" class="btn">Editar informaçõe</a>
    <a href="" class="btn">Sair</a>
</div>
