<div id="sidebar">
    <h3>Detalhes da conta</h3>
    <p>Total de espaço: 1GB</p>

    <div class="progress">
        <div class="bar usage">60% usado</div>
        <div class="bar color free">40% livre</div>
    </div>

    <form id="addSharer" action="">
        <legend>Compartilhar drive</legend>
        <input id="addSharerInput" type="email" placeholder="Email..."><input type="submit" value=">" class="btn">
    </form>

    <p>Compartilhados</p>

    <ul id="shared-list">
        <li>Nenhum</li>
    </ul>

    <a href="" class="btn">Editar informações</a>
    <a href="" class="btn red">Sair</a>
</div>
