#photo-choice {
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding-bottom: 10px;
    }
}

#photo-viewer {
    video {
        width: 100%;
        height: auto;
        cursor: pointer;
    }
}
